.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  height: 150px;
  padding: 20px;
  color: #fff; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.main-bar {
  background: #373842; }

span.empty {
  opacity: 0; }

.carousel-item ul {
  margin: 0; }

.carousel-item {
  border: 1px solid darkgrey;
  border-radius: 5px; }

.carousel {
  margin-top: 30px; }
  .carousel .carousel-inner {
    width: 80%;
    padding: 0px; }

.carousel-control-prev, .carousel-control-next {
  width: 50px;
  height: 80%;
  margin-bottom: auto;
  margin-top: auto; }

.carousel-control-prev {
  left: 25px; }

.carousel-control-next {
  right: 25px; }

.page {
  height: 780px; }

.call {
  height: 65px;
  box-sizing: border-box;
  color: #666;
  font-family: 'Bree Serif';
  font-size: 18px;
  background: #fefefe;
  margin-bottom: 0px;
  border: 1px solid #eee;
  border-radius: 0px; }
  .call .call:hover {
    background: #fefefe;
    color: #666; }
  .call:first-child {
    border-radius: .25rem 0rem 0rem 0rem; }
  .call:last-child {
    border-radius: 0rem 0rem .25rem 0rem; }
  .call span {
    position: absolute;
    top: 18px; }

.call-empty {
  border: 1px solid #eee;
  background: #fff; }
  .call-empty:hover {
    background: #fff; }

.group-0 {
  box-shadow: inset 0px 0px 9px 1px #ccc; }
  .group-0:hover {
    border: 1px solid #ccc; }

.group-1 {
  box-shadow: inset 0px 0px 9px 2px #E23C3C; }
  .group-1:hover {
    border: 1px solid #E23C3C; }

.group-2 {
  box-shadow: inset 0px 0px 9px 2px #E2D843; }
  .group-2:hover {
    border: 1px solid #E2D843; }

.group-3 {
  box-shadow: inset 0px 0px 9px 2px #62E062; }
  .group-3:hover {
    border: 1px solid #62E062; }

.group-4 {
  box-shadow: inset 0px 0px 9px 2px #4FE9D9; }
  .group-4:hover {
    border: 1px solid #4FE9D9; }

.group-5 {
  box-shadow: inset 0px 0px 9px 2px #3E3CC9; }
  .group-5:hover {
    border: 1px solid #3E3CC9; }

.group-6 {
  box-shadow: inset 0px 0px 9px 2px #251938; }
  .group-6:hover {
    border: 1px solid #251938; }

.round-tr {
  border-radius: 0rem .25rem 0rem 0rem; }

.round-bl {
  border-radius: 0rem 0rem 0rem .25rem; }

.call-disabled {
  background: #ccc;
  box-shadow: inset 0px 0px 9px 1px #999; }

.club-jumbotron {
  margin-bottom: 15px; }

.card-container {
  margin-top: 0;
  height: 550px;
  overflow-y: scroll;
  border: 1px solid #eee; }

.club-card {
  margin-top: 13px;
  margin-bottom: 12px;
  height: 250px; }

.club-card-title {
  height: 50px;
  padding-top: 10px; }

.club-card-button {
  margin-top: 23px; }

.below-navbar {
  margin-top: 20px; }

hr {
  margin: 20px; }

.home-jumbo {
  height: 450px;
  width: 700px;
  margin: auto; }

.full-page {
  height: 90vh;
  box-sizing: border-box; }

.modal-form {
  margin: 50px; }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none; }

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none; }

.modal-content {
  width: inherit;
  max-width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all; }

.form-modal-title {
  margin-left: auto;
  -webkit-transform: translateX(15px);
  transform: translateX(15px); }

.close-button {
  position: absolute;
  right: 15px;
  top: 15px; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.pills-row {
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px 5px 0 0; }

.collections-list {
  height: 400px;
  overflow-y: scroll;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #eee; }
  .collections-list .list-group-item {
    border-radius: 0; }
    .collections-list .list-group-item div {
      margin-top: 4px; }

.list-item-name {
  position: absolute;
  left: 15px;
  top: 12px; }

.progress {
  position: relative;
  max-width: 600px;
  border: 1px solid #ccc;
  left: 50%;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  margin-bottom: 16px; }
