.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-bar {
  background: rgb(55, 56, 66);
}

span.empty {
  opacity: 0;
}

.carousel-item ul {
  margin: 0;
}

.carousel-item {
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.carousel {
  margin-top: 30px;

  .carousel-inner {
    width: 80%;
    padding: 0px;
  }
}

.carousel-control-prev, .carousel-control-next{
  width: 50px;
  height: 80%;
  margin-bottom: auto;
  margin-top: auto;

}

.carousel-control-prev {
  left: 25px;

}

.carousel-control-next {
  right: 25px;
}

.page {
  height: 780px;
}

.call {
  height: 65px;
  box-sizing: border-box;
  color: #666;
  font-family: 'Bree Serif';
  font-size: 18px;
  background: #fefefe;
  margin-bottom: 0px;
  border: 1px solid #eee;
  border-radius: 0px;
  .call:hover {
    background: #fefefe;
    color: #666;
  }
  &:first-child {
    border-radius: .25rem 0rem 0rem 0rem;
  }
  &:last-child {
    border-radius: 0rem 0rem .25rem 0rem ;
  }

  span {
    position: absolute;
    top: 18px;
  }

}

.call-empty {
  border: 1px solid #eee;
  background: #fff;
  &:hover {
    background: #fff;
  }
}

.group-0 {
  box-shadow: inset 0px 0px 9px 1px #ccc;

  &:hover {
    border: 1px solid #ccc;
  }
}

@mixin group($color) {
  box-shadow: inset 0px 0px 9px 2px $color;

  &:hover {
    border: 1px solid $color;
  }
}

.group-1 { @include group(rgb(226, 60, 60)); }
.group-2 { @include group(rgb(226, 216, 67)); }
.group-3 { @include group(rgb(98, 224, 98)); }
.group-4 { @include group(rgb(79, 233, 217)); }
.group-5 { @include group(rgb(62, 60, 201)); }
.group-6 { @include group(rgb(37, 25, 56)); }

.round-tr {
  border-radius: 0rem .25rem 0rem 0rem;
}

.round-bl {
  border-radius: 0rem 0rem 0rem .25rem;
}

.call-disabled {
  background: #ddd;
  box-shadow: inset 0px 0px 9px 1px #999;
}

.class-jumbotron {
  margin-bottom: 15px;
}

.card-container {
  margin-top: 0;
  height: 550px;
  overflow-y: scroll;
  border: 1px solid #eee;
}

.class-card {
  margin-top: 13px;
  margin-bottom: 12px;
  height: 250px;
}

.class-card-title {
  height: 50px;
  padding-top: 10px;
}

.class-card-button {
  margin-top: 23px;
}

.below-navbar {
  margin-top: 20px;
}

hr {
  margin: 20px;
}

.home-jumbo {
  height: 450px;
  width: 700px;
  margin: auto;
}

.full-page {
  height: 90vh;
  box-sizing: border-box;
}

.modal-form {
  margin: 50px;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content {
  width:inherit;
  max-width:inherit; 
  height:inherit;
  margin: 0 auto;
  pointer-events:all;
}

.form-modal-title {
  margin-left: auto;
  -webkit-transform: translateX(15px);
  transform: translateX(15px)
}

.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
}

.dropdown-menu-right { 
  right: 0; 
  left: auto; 
}

.pills-row {
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px 5px 0 0;

}

.collections-list {
  height: 400px;
  overflow-y: scroll;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #eee;

  .list-group-item {
    border-radius: 0;

    div {
      margin-top: 4px;
    }
  }

}

.list-item-name {
  position: absolute;
  left: 15px;
  top: 12px;
}